html {
  background-color: #aaa;
}

div#content-container {
  top:0px;
  left: 0px;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

div#content-container img {
  display: block;
  position: inherit;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  height: auto;
}


div#touchme {
  position: absolute;
  display: inline-block;
  right: 1.25em;
  bottom: 0.9em  ;
  text-align: left;
  width: auto;
  height: auto;
  color: rgba(48,128,144,0.8);
  padding: 0.0em 0.4em 0.2em 0.5em;
  text-shadow: #fff -1px 1px 1px, #fff 1px -1px 1px, rgba(0,0,0,0.3) 10px 15px 25px;
  background: rgba(240, 240, 240, 0.6);
  font-family: 'Lato';
  font-size: 3.1em;
  font-weight: bold;
  font-style: italic;
  pointer-events: none;
  border-radius: 0.75em;
  z-index: 5;
}


div.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  width: auto;
  height: auto;
  padding: 0.2em 0.5em;
  color: #444;
  text-shadow: #fff -1px 1px 1px, #fff 1px -1px 1px, rgba(0,0,0,0.3) 10px 15px 25px;
  font-family: 'Roboto';
  font-size: 1.5em;
  font-weight: 600;
  background: #eee;
  border: 1px;
  border-color: #444;
  border-radius: 1.0em;
  pointer-events: none;
  z-index: 3;
}

div.details {
  padding-left: 1em;
  font-size: 80%;
}

#svg-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  fill: #fff;
  fill-opacity: 0;
}

.map-svg {
  position: inherit;
  z-index: 2;
}

svg circle.location {
  opacity: 0;
  fill: #ff4f0e;
  fill-opacity: 0.6;
  stroke: #666666;
  stroke-opacity: 1.0; }
  svg circle.waltz {
    opacity: 0.6;
    fill: #ff0030;
    fill-opacity: 0.2;
    stroke: #ff2f0e; }
  svg circle.selected {
    opacity: 1;
    fill: #ff0030;
    fill-opacity: 0.2;
    stroke: #ff2f0e; }
  svg circle:hover {
    opacity: 1;
    fill: #ff0030;
    fill-opacity: 0.2;
    stroke: #ff0000; }
  svg circle.selected:hover {
    opacity: 1;
    fill: #ff0030;
    stroke: #ff2f0e; }

svg text.location {
  font-family: 'Roboto';
  font-size: 1.4em;
  font-weight: 800;
  text-shadow: #fff -1px 1px 1px, #fff 1px -1px 1px;
  opacity: 0;
  fill: #000;
  fill-opacity: 1; }
  svg text.selected {
    opacity: 1;
    fill: #000;
    fill-opacity: 1; }
  svg text.waltz {
    opacity: 1;
    fill: #000;
    background-color: rgba(255,255,255, 0); }
  svg text:hover {
    opacity: 1;
    fill: #000;
    fill-opacity: 1; }
  svg text.selected:hover {
    opacity: 1;
    fill: #000;
    fill-opacity: 1; }
